body {
  margin: 2%;
  font-family: "HiraKakuPro-W3",
  "Hiragino Kaku Gothic Pro W3",
  "Hiragino Kaku Gothic Pro",
  "ヒラギノ角ゴ Pro W3",
  "メイリオ",
  Meiryo,
  "游ゴシック",
  YuGothic,
  "ＭＳ Ｐゴシック",
  "MS PGothic",
  "ＭＳ ゴシック",
  "MS Gothic",
  sans-serif;
}

input[type=range] {
    border: 1px solid white;
    width: 300px;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #444;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}
